# Binaries and objects
/bin/
/obj/
*.o
*.a

# Dependency directories (remove the "/" at the end to ignore the directory itself)
/vendor/
Gopkg.lock
go.sum

# buf generarted files
pkg/api

# application binary
specmatic-order-bff-grpc-go

# IDE and editor files
.idea/
*.swp
*.swo
.vscode/
*.iml

# OS files
.DS_Store

order.pb
product.pb